{% extends 'base.html' %}
{% block content %}
<div class="content-wrapper">
<h4 class="card-title mb-4" style="color: black; text-align:center;"> Book a Car</h4>
                {% if messages %}
                <!-- <ul class="alert-warning"> -->
                {% for message in messages %}
                <div class="alert alert-{{message.tags}}">
                    {% if message.tags %} {% endif %}{{ message }}
                </div>
                {% endfor %}
                <!-- </ul> -->
                {% endif %}
            <div class="col-12 grid-margin">

              <div class="card">
                <div class="card-body">
                  <form class="form-sample" method='POST' action="/IssueCars/">
                  {% csrf_token %}

        <div class="row mt-3">
        
        <div class="col-md-6">
         <div class="form-group row">                     
                                      
	<label class="col-sm-3 col-form-label" for="myHouse">Car Name</label>
  <div class="col-sm-9">
    <select class="form-control" name="cid" required>
      <option hidden selected value>--select an option--</option>                              
      {% for i in data %}
      {% if i.status == "Available" %}
      <option value="{{i.carid}}">{{i.carName}}</option>
      {% endif %}
      {% endfor %}                                                          
    </select>
	</div>
</div>
</div>

<div class="col-md-6">
         <div class="form-group row">                     
      <label class="col-sm-3 col-form-label" for="MyHouse">Car Model</label>
      <div class="col-sm-9">
        <select class="form-control" name="modid" required>
          <option hidden selected value>--select an option--</option>                              
          {% for i in data %}
          {% if i.status == "Available" %}
          <option value="{{i.carid}}">{{i.modelName}}</option>
          {% endif %}
          {% endfor %}                                                          
        </select>
      </div>
</div>
</div>
</div>
                    <div class="row"> 
                          <div class="col-md-6">
                        <div class="form-group row">
                          <label class="col-sm-3 col-form-label">Issue Date :</label>
                          <div class="col-sm-9">
                            <input type="date" class="form-control" placeholder="Enter Issue date" name="idate" required>
                          </div>
                        </div>
                      </div>

                      <div class="col-md-6">
                        <div class="form-group row">
                          <label class="col-sm-3 col-form-label">Return Date :</label>
                          <div class="col-sm-9">
                            <input type="date" class="form-control" placeholder="Enter Return Date" name="returndate" required>
                          </div>
                        </div>
                      </div>

                    </div>                                                                
                    <button type="submit" class="btn btn-primary mr-2">Book it!</button>
                    <button type="reset" class="btn btn-secondary">Reset</button>
                  </form>
                </div>
              </div>
            </div>  
{% endblock content %}