{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="content-wrapper">
    {% if messages %}
    <!-- <ul class="alert-warning"> -->
    {% for message in messages %}
    <div class="alert alert-{{message.tags}}">
        {% if message.tags %} {% endif %}{{ message }}
    </div>
    {% endfor %}
    <!-- </ul> -->
    {% endif %}
    <div class="row">
        <div class="col-md-12 grid-margin">
            <div class="row">
                <div class="col-12 col-xl-8 mb-4 mb-xl-0">
                    <h3 class="font-weight-bold">Welcome {{userId}}</h3>
                    {% if role == "admin" %}
                    <h6 class="font-weight-normal mb-0">
                        Add, Update or Delete Car Data</h6>
                    {% else %}
                    <h6 class="font-weight-normal mb-0">
                        Rent a car according to your need</h6>
                    {% endif %}
                </div>

            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 grid-margin stretch-card">
            <div class="card tale-bg">
                <div class="card-people mt-auto">
                    <img src="{% static 'images/rentalicon.jpg' %}" alt="people">
                    <div class="weather-info">
                        <div class="d-flex">


                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 grid-margin transparent">
            {% if role == "admin" %}
            
            <div class="row">
                <div class="col-md-6 mb-4 stretch-card transparent">
                    <div class="card" style="background: #6ba364; color: #ffffff;">
                        <div class="card-body">
                            <p class="mb-4">Cars Available</p>
                            <p class="fs-30 mb-2">{{cardata}}</p>

                        </div>
                    </div>
                </div>
                <div class="col-md-6 mb-4 stretch-card transparent">
                    <div class="card " style="background: #17a1e3; color: #ffffff;">
                        <div class="card-body">
                            <p class="mb-4">Total CarsList</p>
                            <p class="fs-30 mb-2">{{mycarlistdata}}</p>

                        </div>
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="col-md-6  stretch-card transparent">
                    <div class="card " style="background: #2452c9; color: #ffffff;">
                        <div class="card-body">
                            <p class="mb-4">Customers</p>
                            <p class="fs-30 mb-2">{{userdata}}</p>

                        </div>
                    </div>
                </div>
                <div class="col-md-6  mb-lg-0 stretch-card transparent">
                    <div class="card" style="background: #08146c; color: #ffffff;">
                        <div class="card-body">
                            <p class="mb-4">Booked Cars</p>
                            <p class="fs-30 mb-2">{{issuecardata}}</p>

                        </div>
                    </div>
                </div>

            </div>
            {% else %}
            
            <div class="row">
                <div class="col-md-6 mb-4  stretch-card transparent">
                    <div class="card card-tale">
                        <div class="card-body">
                            <p class="mb-4">Total Cars</p>
                            <p class="fs-30 mb-2">{{cardata}}</p>

                        </div>
                    </div>
                </div>
                <div class="col-md-6 mb-4  stretch-card transparent">
                    <div class="card card-light-danger">
                        <div class="card-body">
                            <p class="mb-4">Total Cars Available</p>
                            <p class="fs-30 mb-2">{{mycarlistdata}}</p>

                        </div>
                    </div>
                </div>

            </div>
            {% endif %}
        </div>
    </div>
</div>


{% endblock content %}